// @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Raleway:500,600,700);
@import url(http://fonts.googlefonts.net/css?family=Source+Sans+Pro:400,700,400italic|Raleway:500,600,700);
$articleFont: 'Source Sans Pro',
'华文细黑',
sans-serif;
$controlFont: 'Raleway',
'华文细黑',
sans-serif;
$themeColor1: #4677F8;
$themeColor2: #5788F8;
$black1: #1B1B1B;
$black2: #333;
$white1: #EEE;
$screenWidth: 1200px;
$screenHeight: 800px;
//$transforming: translate/translateX.../scale
@mixin transform ($transforming) {
    -webkit-transform: $transforming;
    -moz-transform: $transforming;
    -transform: $transforming;
}

//$shadow : 投影方式 X轴偏移量 Y轴偏移量阴影模糊半径 阴影扩展半径 阴影颜色
@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow; //Safariand Google chrome10.0-  
    -moz-box-shadow: $shadow; //Firefox4.0-
    box-shadow: $shadow; //Firefox4.0+、 Google chrome 10.0+ 、 Oprea10.5+ and IE9  
}

@mixin transition($trans) {
    -webkit-transition: $trans;
    -moz-transition: $trans;
    transition: $trans;
}

@mixin background-size($bgsize) {
    -webkit-background-size: $bgsize;
    -moz-transition: $bgsize;
    background-size: $bgsize;
}

h2.title {
    text-align: center;
    color: $white1;
}

div.line {
    background: $themeColor1;
    height: 2px;
    width: 100px;
    margin: 5px auto;
}

.sub-heading {
    color: $white1;
    text-align: center;
}

.standard-button {
    padding: 10px;
    margin: 15px auto;
    font-family: $controlFont;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0 !important;
    border: 1px solid $white1;
    line-height: inherit;
    color: $white1;
    background: $themeColor1;
    display: block;
    width: 75px;
    text-align: center;
    cursor: pointer;
    @include transition(all ease 0.25s);
    &:hover {
        background: $themeColor2;
    }
}