// @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Raleway:500,600,700);
@import url(http://fonts.googlefonts.net/css?family=Source+Sans+Pro:400,700,400italic|Raleway:500,600,700);
$articleFont: 'Source Sans Pro',
'华文细黑',
sans-serif;
$controlFont: 'Raleway',
sans-serif;
$primaryColor: #4677F8;
$secondaryColor: #333;
$navbarBackground: rgba(35, 35, 35, 0.85);
$backgroundColor: #1B1B1B;
$whiteFontColor: #EEE;
$pageMinHeight: 37rem;
//$transforming: translate/translateX.../scale
@mixin transform ($transforming) {
    -webkit-transform: $transforming;
    -moz-transform: $transforming;
    -transform: $transforming;
}

//$shadow : 投影方式 X轴偏移量 Y轴偏移量阴影模糊半径 阴影扩展半径 阴影颜色
@mixin box-shadow($shadow) {
    -moz-box-shadow: $shadow; //Firefox4.0-
    -webkit-box-shadow: $shadow; //Safariand Google chrome10.0-  
    box-shadow: $shadow; //Firefox4.0+、 Google chrome 10.0+ 、 Oprea10.5+ and IE9  
}

@mixin transition($trans) {
    -moz-transition: $trans;
    -webkit-transition: $trans;
    transition: $trans;
}

h2.title {
    text-align: center;
    color: $whiteFontColor;
}

div.line {
    background: $primaryColor;
    height: 2px;
    width: 100px;
    margin: 5px auto;
}

.sub-heading {
    color: $whiteFontColor;
    text-align: center;
}

.standard-button {
    padding: 10px 25px;
    margin: 5px;
    font-family: $controlFont;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0 !important;
    border: 1px solid $primaryColor;
    line-height: inherit;
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
    color: $primaryColor;
    background: transparent;
    &:hover {
        color: $whiteFontColor;
        border-color: $whiteFontColor;
        background: $primaryColor;
    }
}